#play{
  margin-top: 30px;
  margin-bottom: 30px;
}
#currentScore{
  color: red;
}
.container{
  width: 500px;
}
.tableScroll{
  width: 500px;
  height: 800px;
  overflow: scroll;
}
.container-fluid{
  background-color: #17bda6;
}
