<div class="container-fluid">
  <h2>Welcome {{currentUser.name}}~</h2>
  <div class="row text-center">
    <a class="col-sm-4" href="home"><h4>Home</h4></a>
    <a class="col-sm-4" [routerLink]="['add']"><h4>Add Question</h4></a>
    <a class="col-sm-4" href="" (click)="logout()"><h4>logout</h4></a>
  </div>
</div>

<div *ngIf="currentScore.score != undefined">
  <h3 id="currentScore" *ngIf="currentScore.score > 2">Hey {{currentScore.name}}, your score is {{currentScore.score}}/3. Good Job!</h3>
  <h3 id="currentScore" *ngIf="currentScore.score < 3">Hey {{currentScore.name}}, your score is {{currentScore.score}}/3</h3>
</div>

<body class="text-center">
  <div id="play">
    <a [routerLink]="['play']"><button type="button" class="btn btn-danger btn-lg">PLAY</button></a>
    <p style="color: #80808078">*Click the button above to start the trivia game</p>
  </div>
  <div class="container">
    <div class="form-inline text-left">
      <div class="form-group">
        <label for="searchString">Search:</label>
        <input type="text" class="form-control" name="searchString" [(ngModel)]="searchString" (keyup)="searchScore()">
      </div>
    </div>
    <div class="tableScroll">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Score</th>
            <th class="text-center">Percentage</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let score of shownScores">
            <td>{{score.name}}</td>
            <td>{{score.score}}/3</td>
            <td *ngIf="score.score == 0">0%</td>
            <td *ngIf="score.score == 1">33.3%</td>
            <td *ngIf="score.score == 2">66.7%</td>
            <td *ngIf="score.score == 3">100%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
